<link rel="stylesheet" media="all" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" media="all" href="../../assets/stylesheets/progress_manage.css" />
<style>
	/* 全体のフォントサイズ */
	* {
		font-size: small;
	}
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-migrate-3.3.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
<script src="Ajaxize.js"></script>
<script src="../../assets/javascripts/Dates.js"></script>
<script src="../../assets/javascripts/Numbers.js"></script>
<script type="text/javascript">
	var holidays = {};

	var data = {};

	/**
	 * 初期化処理
	 */
	$(function() {

		//リンクをボタン化
		$('.progress_manage a.button').button();

		//表示基準日の初期表示
		$('[name="dispBaseYmd"]').val(Dates.formatYyyyHmmHdd(new Date()));

		//休日設定を表示・横軸（日付）の表示
		Ajaxize.getJson('./progress_manage/holidays', function(json) {
			holidays = json;
			var holidayList = '';
			for (var holiday in holidays) {
				holidayList += holiday + '\r\n';
			}
			$('[name="holidays"]').val(holidayList);
			redrawDays(holidays);
		});

		//ステータスプルダウンを設定
		Ajaxize.getJson('./progress_manage/statuses', function(json) {
			$('[name^="statusId"]').html('<option></option>');
			for (var statusId in json) {
				$('[name^="statusId"]').append('<option value="' + statusId + '">' + json[statusId] + '</option>');
			}
		});

		//担当者プルダウンを設定
		Ajaxize.getJson('./progress_manage/users', function(json) {
			$('[name^="selAssignedId"]').html('<option></option>');
			for (var userId in json) {
				$('[name^="selAssignedId"]').append('<option value="' + userId + '">' + json[userId] + '</option>');
			}
			$('[name^="assignedId"]').html('<option></option>');
			for (var userId in json) {
				$('[name^="assignedId"]').append('<option value="' + userId + '">' + json[userId] + '</option>');
			}
		});

		//実績期間を計算・データ表示・実績期間を表示
		Ajaxize.getJson('./progress_manage/search', function(json) {
			data = json;
			calcActuals(data);
			bindRows(data);
			redrawPanels(data);
		});

		/* ******************************
		* イベント登録
		*******************************/

		/**
		 * 表示基準日変更イベント
		 */
		$('[name="dispMonths"], [name="dispBaseYmd"]').on('change', function() {
			redrawDays(holidays);
			bindRows(data);
			redrawPanels(data);
		});

		/**
		 * 休日設定変更イベント
		 */
		$('[name="holidays"]').on('change', function() {

			holidays = {};
			var values = this.value.split('\n');
			for (var i in values) {
				var holiday = values[i];
				holidays[holiday] = 1;
			}

			redrawDays(holidays);
			calcActuals(data);
			bindRows(data);
			redrawPanels(data);

			//休日データを更新
			Ajaxize.postJson('./progress_manage/setHolidays', holidays, function(json) {
			});
		});

		/**
		 * 担当者フィルタ変更イベント
		 */
		$('table.left thead [name="selAssignedId"]').on('change', function() {
			bindRows(data);
			redrawPanels(data);
		});

		/**
		 * スクロール連携
		 */
		$('div.rightWrapper').on('scroll', function() {
			$('table.left tbody').scrollTop(this.scrollTop);
			bindRows(data);
			redrawPanels(data);
		});

		/**
		 * 上移動イベント
		 */
		$(document).on('click', '[id^="upper"]', function() {

			//対象データ取得
			var ids = this.id.split(/\[|\]/g);
			var thisId = ids[1];
			var thisItem = data[thisId];

			var newData = {};
			var preItem = null;
			for (var id in data) {
				//対象データなら追加
				if (id == thisId) {
					newData[thisId] = thisItem;
				}
				//１周遅れでデータを追加していく
				if (preItem != null) {
					newData[preItem.id] = preItem;
				}
				preItem = data[id];
			}
			//最後のデータを追加
			newData[preItem.id] = preItem;
			data = newData;

			//対象の担当者のみ再描画
			calcActual(data, thisItem.assignedId);
			bindRows(data);
			redrawPanels(data);
		});

		/**
		 * 下移動イベント
		 */
		$(document).on('click', '[id^="downer"]', function() {

			//対象データ取得
			var ids = this.id.split(/\[|\]/g);
			var thisId = ids[1];
			var thisItem = data[thisId];

			var newData = {};
			var preItem = null;
			for (var id in data) {
				//対象データでないなら追加
				if (id != thisId) {
					newData[id] = data[id];
				}
				//対象データを退避済みなら追加して退避データを消し込み
				if (preItem != null) {
					newData[thisId] = thisItem;
					preItem = null;
				}
				//対象データなら退避
				if (id == thisId) {
					preItem = data[id];
				}
			}
			//最後のデータが対象データなら追加
			if (preItem != null) {
				newData[preItem.id] = preItem;
			}
			data = newData;

			//当該担当者のみ再描画
			calcActual(data, thisItem.assignedId);
			bindRows(data);
			redrawPanels(data);
		});

		/**
		 * ステータス変更イベント
		 */
		$(document).on('change', '[name^="statusId"]', function() {
			//対象データを取得
			var names = this.name.split(/\[|\]/g);
			var thisId = names[1];
			var thisItem = data[thisId];
			//バインドデータを更新
			var columnName = names[0];
			thisItem[columnName] = this.value;
			//チケット内容を更新
			postIssue(thisItem);
		});

		/**
		 * 担当者変更イベント
		 */
		$(document).on('change', '[name^="assignedId"]', function() {
			//対象データを取得
			var names = this.name.split(/\[|\]/g);
			var thisId = names[1];
			var thisItem = data[thisId];
			//バインドデータを更新
			var columnName = names[0];
			thisItem[columnName] = this.value;
			//チケット内容を更新
			postIssue(thisItem);
			//実績のみ再描画
			calcActuals(data);
			redrawPanels(data);
		});

		/**
		 * 予定期間変更イベント
		 */
		$(document).on('change', '[name^="startDate"], [name^="dueDate"]', function() {
			//対象データを取得
			var names = this.name.split(/\[|\]/g);
			var thisId = names[1];
			var thisItem = data[thisId];
			//バインドデータを更新
			var columnName = names[0];
			thisItem[columnName] = this.value;
			//当該行の予定期間を再描画
			fillPlan(thisItem);
			//チケット内容を更新
			postIssue(thisItem);
		});

		/**
		 * 実績日数変更イベント
		 */
		$(document).on('change', '[name^="days"], [name^="suspends"]', function() {
			//対象データを取得
			var names = this.name.split(/\[|\]/g);
			var thisId = names[1];
			var thisItem = data[thisId];
			//バインドデータを更新
			var columnName = names[0];
			thisItem[columnName] = this.value;
			//当該担当者の実績のみ再描画
			calcActual(data, thisItem.assignedId);
			redrawPanels(data);
		});

		/**
		 * 実績日数エンターイベント（下にカーソル移動するだけ）
		 */
		$(document).on('keydown', '[name^="days"], [name^="suspends"]', function(event) {
			if (event.keyCode == 13) {
				var names = this.name.split(/\[|\]/g);
				var columnName = names[0];
				var thisId = names[1];
				var b = false;
				for (var id in data) {
					//ひとつ前が対象データならフォーカス移動して終了
					if (b) {
						if ($('[name="' + columnName + '[' + id + ']"]').length > 0) {
							$('[name="' + columnName + '[' + id + ']"]').focus().select();
							break;
						}
					}
					//対象データならフラグを立てる
					if (id == thisId) {
						b = true;
					}
				}
			}
		});
	});

	function postIssue(item) {
		Ajaxize.postJson('./progress_manage/putIssue', {
			id : item.id.replace(/^#/, ''),
			status_id : item.statusId,
			assigned_to_id : item.assignedId,
			start_date : item.startDate,
			due_date : item.dueDate,
			lock_version : item.lockVersion
		}, function(json) {
		});
	}

	/**
	 * 日付列（右側表の列）の作成
	 */
	function redrawDays(holidays) {

		//右側表の列を一旦クリア
		$('table.right thead tr').html('');
		$('table.right tbody tr').html('');
		$('table.right tfoot tr').html('');

		//表示基準日を取得
		var dispBaseYmd = Dates.parseYyyyHmmHdd($('[name="dispBaseYmd"]').val());
		var baseY = dispBaseYmd.getFullYear();
		var baseM = dispBaseYmd.getMonth();
		var baseD = dispBaseYmd.getDate();
		var baseYm = baseY * 100 + baseM;

		var months = $('[name="dispMonths"]').val();

		var theadTds = '';
		var tbodyTds = '';
		var tfootTds = '';
		for (var i = 0; true; i++) {

			//表示日の取得
			var date = new Date(baseY, baseM, baseD + i);

			//指定月数で終了
			var ym = date.getFullYear() * 100 + date.getMonth();

			var monthDiff = (date.getFullYear() * 12 + date.getMonth()) - (baseY * 12 + baseM);

			if (monthDiff >= months && baseD < date.getDate()) {
				break;
			}

			//休日の背景色
			var classHoliday = '';
			var day = date.getDay();
			if (day == 0 || day == 6 || holidays[Dates.formatYyyyHmmHdd(date)]) {
				classHoliday = ' class=\'holiday\'';
			}

			//セル文字列に退避
			var yySmmSdd = Dates.formatYySmmSdd(date);
			theadTds += '<td' + classHoliday + '>' + yySmmSdd + '</td>';
			tbodyTds += '<td id="' + yySmmSdd + '[#]"' + classHoliday + '>&nbsp;</td>';
			tfootTds += '<td' + classHoliday + '>&nbsp;</td>';
		}

		//退避したセル文字列を追加
		$('table.right thead tr').append(theadTds);
		$('table.right tbody tr').append(tbodyTds);
		$('table.right tfoot tr').append(tfootTds);
	}

	/**
	 * 予定期間の背景色設定
	 */
	function fillPlan(item) {
		if (!item.startDate || !item.dueDate) {
			return;
		}
		var startDate = Dates.parseYyyyHmmHdd(item.startDate);
		var dueDate = Dates.parseYyyyHmmHdd(item.dueDate);
		for (var date = startDate; date <= dueDate; date.setDate(date.getDate() + 1)) {
			var cell = $('table.right tbody [id="' + Dates.formatYySmmSdd(date) + '[' + item.id + ']"]');
			//if (!cell.hasClass('holiday')) {
			cell.addClass('plan');
			//}
		}
	}

	function bindRows(data) {

		//明細部のスクロール高さ
		var offsetHeight = $('body')[0].clientHeight;
		var offsetTop = $('table.left')[0].offsetTop;
		var theadHeight = $('table.left thead')[0].offsetHeight;
		var tfootHeight = $('table.left tfoot')[0].offsetHeight;
		var footerHeight = $('div[id="footer"]')[0].offsetHeight;
		var scrollbarHeight = 26;
		var tbodyScrollHeight = offsetHeight - offsetTop - theadHeight - tfootHeight - footerHeight - scrollbarHeight;

		//明細部のスクロール量
		var leftScrollTop = $('table.left tbody').scrollTop();

		//明細部の行高さ
		var trHeight = $('table.left tbody tr:nth-child(1)').height();

		/*
		* 明細部のクリア
		*/

		//左側表をリセット
		var $leftTbody = $('table.left tbody');
		var leftTbodyHtml = $leftTbody.find('tr:nth-child(1)')[0].outerHTML;
		$leftTbody.html(leftTbodyHtml);

		//右側表をリセット
		var $rightTbody = $('table.right tbody');
		var rightTbodyHtml = $rightTbody.find('tr:nth-child(1)')[0].outerHTML;
		$rightTbody.html(rightTbodyHtml);

		//明細部の高さを一旦リセット
		$leftTbody.css('height', '');
		$('div.rightWrapper').css('height', '');

		/*
		 *
		 */

		var assignedId = $('[name="selAssignedId"]').val();

		//セル落ち防止で余分にセル化しておく高さ
		var scrollBuffer = 1000;

		//データ全件でループして左側表全件文字列と右側表全件文字列を作成
		var trsHeight = 0;
		var leftTrs = '';
		var rightTrs = '';
		for (var id in data) {

			var item = data[id];

			if (assignedId && item.assignedId != assignedId) {
				continue;
			}

			trsHeight += trHeight;

			var leftTr = '';
			var rightTr = '';
			if ((trsHeight < leftScrollTop - scrollBuffer) || (tbodyScrollHeight + leftScrollTop + trHeight + scrollBuffer < trsHeight)) {

				//上側の非表示行か下側の非表示行なら空行を設定
				leftTr = '<tr><td></td></tr>';
				rightTr = '<tr><td></td></tr>';

			} else {

				//左側表文字列に追加
				var leftTr = leftTbodyHtml.replaceAll('_#', item.id.replace(/#/, ''));
				var leftTr = leftTr.replaceAll('#', item.id);
				for (var k in item) {
					if (k == "boDate" || k == "eoDate") {
						leftTr = leftTr.replaceAll('\[\[' + k + '\]\]', Dates.formatYySmmSdd(Dates.parseYyyyHmmHdd(item[k])));
					} else {
						leftTr = leftTr.replaceAll('\[\[' + k + '\]\]', item[k]);
					}
				}
				leftTr = leftTr.replaceAll(/\[\[.+?\]\]/g, '');

				//右側表文字列に追加
				var rightTr = rightTbodyHtml.replaceAll('#', item.id);
			}

			leftTrs += leftTr;
			rightTrs += rightTr;
		}

		//左側表と右側表に全件反映
		$leftTbody.append(leftTrs);
		$rightTbody.append(rightTrs);

		$('table.left>tbody').sortable({
			handle : 'th',
			stop : function(event, ui) {

				var $prevTr = ui.item.prev('tr');
				var $thisTr = ui.item;
				var $nextTr = ui.item.next('tr');

				console.log($prevTr);
				console.log(ui.item);
				console.log(ui.item.next('tr'));

				var prevId = $prevTr[0].id.split(/\[|\]/g)[1];
				var thisId = $thisTr[0].id.split(/\[|\]/g)[1];
				var nextId = $nextTr[0].id.split(/\[|\]/g)[1];

				//対象データ取得
				var thisItem = data[thisId];

				var newData = {};
				var preItem = null;
				for (var id in data) {
					if (id != thisId) {
						if (id == prevId) {
							newData[id] = data[id];
							newData[thisId] = thisItem;
						} else if (id == nextId) {
							newData[thisId] = thisItem;
							newData[id] = data[id];
						} else {
							newData[id] = data[id];
						}
					}
				}
				data = newData;

				//クロージャ内からグローバルのdataに作用できないため
				setData(newData)

				//当該担当者のみ再描画
				calcActual(data, thisItem.assignedId);
				bindRows(data);
				redrawPanels(data);
			},
		});

		//左表明細高さ
		var leftTbodyHeight = $leftTbody.height();

		//反映後に、左側表の高さ調整と元の位置までスクロール
		$leftTbody.css('height', tbodyScrollHeight);
		$leftTbody.scrollTop(leftScrollTop);

		//反映後に、右側表の高さ調整と元の位置までスクロール
		$('div.rightWrapper').css('height', offsetHeight - offsetTop - footerHeight - 10);
		$rightTbody.css('height', tbodyScrollHeight);
		//行数が表示高さに満たない場合は、フッタまでスペースを確保する
		if (leftTbodyHeight < tbodyScrollHeight) {
			$('table.right thead').css('display', 'block');
			$('table.right tbody').css('display', 'block');
			$('table.right tfoot').css('display', 'block');
		} else {
			$('table.right thead').css('display', '');
			$('table.right tbody').css('display', '');
			$('table.right tfoot').css('display', '');
		}
		$('div.rightWrapper').scrollTop(leftScrollTop);

		for (var id in data) {
			var item = data[id];
			$('[name="statusId[' + id + ']"]').val([item.statusId]);
			$('[name="assignedId[' + id + ']"]').val([item.assignedId]);
		}

		//小数２桁表示
		$('.dec2').each(function() {
			Numbers.formatDec2(this);
		});

		//予定期間の背景色設定
		for (var id in data) {
			fillPlan(data[id]);
		}
	}

	function setData(newData) {
		data = newData;
	}

	/**
	 * 指定した担当者について、実績日数から実績期間を再計算
	 */
	function calcActuals(data) {
		var assignedNames = {};
		for (var id in data) {
			var item = data[id];
			var assignedId = item.assignedId;
			if (!assignedNames[assignedId]) {
				calcActual(data, assignedId);
				assignedNames[assignedId] = 1;
			}
		}
	}

	/**
	 * 指定した担当者について、実績日数から実績期間を再計算
	 */
	function calcActual(data, assignedId) {

		//実績基準日
		var baseBoDate = null;

		//実績終了数
		var eoDays = 0;

		//当該ユーザのみ実績を再計算して左側表に表示
		for (var id in data) {
			var item = data[id];

			//対象ユーザの行だけ日付計算
			if (item.assignedId == assignedId) {

				//実績開始数
				item.boDays = eoDays;

				//実績基準日を、１件目の実績開始日か、システム日に設定
				if (baseBoDate == null) {
					if (item.boDate && item.manDays && item.statusId != '1') {
						baseBoDate = Dates.parseYyyyHmmHdd(item.boDate);
					} else {
						baseBoDate = new Date();
					}
				}

				//実績開始日
				var boDate = new Date(baseBoDate.getFullYear(), baseBoDate.getMonth(), baseBoDate.getDate());
				//if (item.boDays > 0) {
				var workDays = 0;
				while (true) {
					var boDay = boDate.getDay();
					if (0 < boDay && boDay < 6 && !holidays[Dates.formatYyyyHmmHdd(boDate)]) {++workDays;
					}
					if (Math.floor(item.boDays) < workDays) {
						break;
					}
					boDate.setDate(boDate.getDate() + 1);
				}
				//}
				item.boDate = Dates.formatYyyyHmmHdd(boDate);

				//稼働日数
				var days = 0;
				if (item.days) {
					days = item.days * 1;
				}

				//中断日数
				var suspends = 0;
				if (item.suspends) {
					suspends = item.suspends * 1;
				}

				//実績日数
				item.manDays = days + suspends;

				//実績終了日
				var eoDate = new Date(boDate.getFullYear(), boDate.getMonth(), boDate.getDate());
				if (item.manDays > 0) {
					eoDate.setSeconds(-1);
					var workDays = 0;
					while (true) {
						eoDate.setDate(eoDate.getDate() + 1);
						var eoDay = eoDate.getDay();
						if (0 < eoDay && eoDay < 6 && !holidays[Dates.formatYyyyHmmHdd(eoDate)]) {++workDays;
						}
						if (Math.floor(item.manDays) <= workDays) {
							break;
						}
					}
				}
				item.eoDate = Dates.formatYyyyHmmHdd(eoDate);

				//実績終了数
				eoDays += item.manDays;
				item.eoDays = eoDays;

				//当該行の再計算結果を表示
				var $leftTr = $('table.left tbody tr[id="leftTr[' + id + ']"]');
				$leftTr.find('[id="boDays[' + id + ']"]').html(item.boDays);
				$leftTr.find('[id="boDate[' + id + ']"]').html(Dates.formatYySmmSdd(Dates.parseYyyyHmmHdd(item.boDate)));
				$leftTr.find('[id="manDays[' + id + ']"]').html(item.manDays);
				$leftTr.find('[id="eoDate[' + id + ']"]').html(Dates.formatYySmmSdd(Dates.parseYyyyHmmHdd(item.eoDate)));
				$leftTr.find('[id="eoDays[' + id + ']"]').html(item.eoDays);

				boYmd = Dates.formatYyyyHmmHdd(boDate);
				eoYmd = Dates.formatYyyyHmmHdd(eoDate);

				Ajaxize.postJson('./progress_manage/putActualSpan', {
					id : item.actualSpanId,
					issue_id : id.replace(/^#/, ''),
					bo_days : item.boDays,
					bo_date : boYmd,
					days : item.days,
					suspends : item.suspends,
					man_days : item.manDays,
					eo_date : eoYmd,
					eo_days : item.eoDays,
				}, function(json) {
				});
			}
		}

		//小数２桁表示
		$('.dec2').each(function() {
			Numbers.formatDec2(this);
		});
	}

	/**
	 * データの実績開始日・実績終了日から、パネルを描画
	 */
	function redrawPanels(data) {

		//実績パネルを一旦全て削除
		$('.panelWrapper').remove();

		//右側表ヘッダ行高さ
		var theadHeight = $('table.right thead')[0].offsetHeight;

		//右側表明細エリア
		var $rightTbody = $('table.right tbody');

		//表示基準日
		var dispBaseYmd = Dates.parseYyyyHmmHdd($('[name="dispBaseYmd"]').val());

		//実績パネル文字列
		var panelWrappers = '';

		//データでループ
		for (var id in data) {
			var item = data[id];

			//実績開始日が未確定ならスキップ
			if (!item.boDate) {
				continue;
			}

			//実績終了日が表示基準日より過去ならスキップ
			if (Dates.parseYyyyHmmHdd(item.eoDate) < dispBaseYmd) {
				continue;
			}

			//実績開始日が表示基準日より過去なら表示基準日から描画
			var boDate = item.boDate;
			if (Dates.parseYyyyHmmHdd(boDate) < dispBaseYmd) {
				boDate = Dates.formatYySmmSdd(dispBaseYmd);
			}

			//表示されていない行ならスキップ
			var $boDateCell = $rightTbody.find('[id="' + Dates.formatYySmmSdd(Dates.parseYyyyHmmHdd(boDate)) + '[' + id + ']"]');
			if ($boDateCell.length == 0) {
				continue;
			}

			//実績開始日セルから、パネルの左座標・上座標を取得
			var l = $boDateCell[0].offsetLeft - 1;
			var t = $boDateCell[0].offsetTop - theadHeight;

			//実績終了日セルから、パネルの高さ・幅を取得
			var $eoDateCell = $rightTbody.find('[id="' + Dates.formatYySmmSdd(Dates.parseYyyyHmmHdd(item.eoDate)) + '[' + id + ']"]');
			var h = $eoDateCell[0].offsetHeight - 1;
			var w = $eoDateCell[0].offsetLeft + $eoDateCell[0].offsetWidth - l - 2;

			//パネル文字列に追加
			var panel = '<div id="panel_' + id + '" class="panel" style="height: ' + h + 'px; width: ' + w + 'px;"></div>';
			var panelWrapper = '<div id="panel_' + id + '" class="panelWrapper" style="left: ' + l + 'px; top: ' + t + 'px;">' + panel + '</div>';
			panelWrappers += panelWrapper;
		}

		//全ての実績パネルを一度に追加
		$rightTbody.find('tr:nth-child(1)').after(panelWrappers);

		var gridSize = ($('table.right>tbody>tr>td').css('min-width').replace(/px$/, '') * 1) + 1;

		$('.panel').resizable({
			handles : "e",
			//リサイズ時のグリッドサイズ
			grid : gridSize,
			/**
			 * リサイズ終了時のイベント
			 */
			stop : function(event, ui) {

				//パネルの個数
				var panelWidth = ui.size.width;
				var panelGrids = Math.round(panelWidth / gridSize, 0);

				//チケットID
				var panelId = ui.element.attr('id');
				var issueId = panelId.replace(/^panel\_/, '');

				//実績開始日
				var boDateValue = $('[id="boDate[' + issueId + ']"]').html();
				var boDate = Dates.parseYySmmSdd(boDateValue);
				var boY = boDate.getFullYear();
				var boM = boDate.getMonth();
				var boD = boDate.getDate();

				//実績終了日
				var eoDate = new Date(boY, boM, boD);
				eoDate.setDate(eoDate.getDate() + panelGrids);
				eoDate.setSeconds(-1);

				var days = 0;
				var date = new Date(boY, boM, boD);
				while (true) {
					if (eoDate <= date) {
						break;
					}
					var day = date.getDay();
					if (0 < day && day < 6 && !holidays[Dates.formatYyyyHmmHdd(date)]) {++days;
					}
					date.setDate(date.getDate() + 1);
				}

				var item = data[issueId];
				var manDays = days;
				if (item.suspends) {
					days -= item.suspends;
					manDays += item.suspends;
				}
				item.days = days;
				item.manDays = manDays;

				$('[name="days[' + issueId + ']"]').val(days);

				calcActual(data, item.assignedId);
				redrawPanels(data);
			}
		});
	}

</script>

<h2>進捗管理</h2>
<div class="progress_manage">
	<form style="position: absolute; right: 6rem; margin-top: -2.5rem;">
		<div>
			<label for="dispMonths">表示月数</label>
			<input type="number" id="dispMonths" name="dispMonths" value="3" style="width: 5rem;" />
		</div>
		<div>
			<label for="dispBaseYmd">表示基準日</label>
			<input type="date" id="dispBaseYmd" name="dispBaseYmd" />
		</div>
		<div>
			<label for="holidays">休日設定</label>
			<textarea id="holidays" name="holidays" rows="2" cols="10" style="position: absolute; z-index: 2;">
			</textarea>
		</div>
	</form>
	<table class="progress_manage left">
		<thead>
			<tr>
				<th>入替</th>
				<th>id</th>
				<td>プロジェクト</td>
				<td>バージョン</td>
				<td>題名</td>
				<td>ステータス</td>
				<td style="white-space: normal;">担当者<select name="selAssignedId"></select></td>
				<td>開始日</td>
				<td>期日</td>
				<td>実績
				<br>
				開始数</td>
				<td>実績
				<br>
				開始日</td>
				<td>稼働
				<br>
				日数</td>
				<td>中断
				<br>
				日数</td>
				<td>実績
				<br>
				日数</td>
				<td>実績
				<br>
				終了日</td>
				<td>実績
				<br>
				終了数</td>
			</tr>
		</thead>
		<tbody>
			<tr id="leftTr[#]">
				<th><a href="javascript:void(0);" id="upper[#]" class="button">↑</a><a href="javascript:void(0);" id="downer[#]" class="button">↓</a></th>
				<th title="[[id]]">[[id]]</th>
				<td title="[[projectName]]">[[projectName]]</td>
				<td title="[[version]]">[[version]]</td>
				<td title="[[subject]]"><a href="./issues/_#">[[subject]]</a></td>
				<td><select name="statusId[#]"></select></td>
				<td><select name="assignedId[#]"></select></td>
				<td>
				<input type="date" name="startDate[#]" value="[[startDate]]" />
				</td>
				<td>
				<input type="date" name="dueDate[#]" value="[[dueDate]]" />
				</td>
				<td id="boDays[#]" title="[[boDays]]" class="dec2">[[boDays]]</td>
				<td id="boDate[#]" title="[[boDate]]">[[boDate]]</td>
				<td>
				<input type="text" name="days[#]" value="[[days]]" />
				</td>
				<td>
				<input type="text" name="suspends[#]" value="[[suspends]]" />
				</td>
				<td id="manDays[#]" title="[[manDays]]" class="dec2">[[manDays]]</td>
				<td id="eoDate[#]" title="[[eoDate]]">[[eoDate]]</td>
				<td id="eoDays[#]" title="[[eoDays]]" class="dec2">[[eoDays]]</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</tfoot>
	</table>
	<div class="rightWrapper">
		<table class="progress_manage right">
			<thead>
				<tr></tr>
			</thead>
			<tbody>
				<tr id="rightTr[#]"></tr>
			</tbody>
			<tfoot>
				<tr></tr>
			</tfoot>
		</table>
	</div>
</div>