<%= stylesheet_link_tag 'progress_manage', :plugin => 'progress_manage' %>

<link rel="stylesheet" media="all" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" media="all" href="progress_manage.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-migrate-3.3.2.min.js"></script>
<!-- <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script> -->
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>
<script src="Dates.js"></script>
<script src="Numbers.js"></script>

<script type="text/javascript">

	var months = 3;
	
	/**
	 * ダミーデータ作成
	 */
	function dummyData() {
		var dummyData = {};
		for (var r = 0; r < 1000; r++) {
			var id = 1000 + r;
			dummyData['#' + id] = {
				id : '#' + id,
				projectName : '販売WEB',
				projectDate : Dates.formatYyHmmHdd(new Date(2022, 7, 1)),
				version : '外部設計',
				subject : 'subject ' + id,
				statusId : 'statusId ' + id,
				assignedName : 'user' + ((r % 5) + 1),
			};
		}
		return dummyData;
	};

	$(function() {
		
		//リンクをボタン化
		$('a').button();
		
		//基準日の初期表示
		var date = new Date();
		$('[name="baseYmd"]').val(Dates.formatYyyyHmmHdd(date));

		//横軸：日付の表示
		setDays(data);

		var data = dummyData();

		//担当者名毎に実績期間を再計算
		var assignedNames = {};
		for (var id in data) {
			var item = data[id];
			var assignedName = item.assignedName;
			if (!assignedNames[assignedName]) {
				calcData(data, assignedName);
				assignedNames[assignedName] = 1;
			}
		}

		//縦軸：データの表示
		bindData(data);

		//実績期間のパネル表示
		addPanels(data);

		// //幅調整
		// var offsetWidth = $('body')[0].offsetWidth;
		// var offsetLeft = $('table.left')[0].offsetLeft + $('table.left')[0].offsetWidth;
		// $('div.rightWrapper').css('width', offsetWidth - offsetLeft);

		// //高さ調整
		// var offsetHeight = $('body')[0].clientHeight;
		// var offsetTop = $('table.left')[0].offsetTop;
		// var theadHeight = $('table.left thead')[0].offsetHeight;
		// var tfootHeight = $('table.left tfoot')[0].offsetHeight;
		// $('table.left tbody').css('height', offsetHeight - offsetTop - theadHeight - tfootHeight - 25);
		// $('div.rightWrapper').css('height', offsetHeight - offsetTop - 8);

		$('[name="baseYmd"]').on('change', function() {
			setDays(data);
			bindData(data);
			addPanels(data);
		});
		
		/**
		 * スクロール連携
		 */
		$('div.rightWrapper').on('scroll', function() {
			$('table.left tbody').scrollTop(this.scrollTop);
			bindData(data);
			addPanels(data);
		});

		/**
		 * 上移動イベント
		 */
		$(document).on('click', '[id^="upper"]', function() {
			
			var ids = this.id.split(/\[|\]/g);
			var thisId = ids[1];
			var thisItem = data[thisId];
			
			var newData = {};
			var preItem = null;
			for (var id in data) {
				if (id == thisId) {
					newData[thisId] = thisItem;
				}
				if (preItem != null) {
					newData[preItem.id] = preItem;
				}
				preItem = data[id];
			}
			newData[preItem.id] = preItem;
			data = $.extend(true, {}, newData);
			newData = null;
			
			calcData(data, thisItem.assignedName);
			bindData(data);
			addPanels(data);
		});

		/**
		 * 下移動イベント
		 */
		$(document).on('click', '[id^="downer"]', function() {
			
			var ids = this.id.split(/\[|\]/g);
			var thisId = ids[1];
			var thisItem = data[thisId];
			
			var newData = {};
			var preItem = null;
			for (var id in data) {
				if (id != thisId) {
					newData[id] = data[id];
				}
				if (preItem != null) {
					newData[thisId] = thisItem;
					preItem = null;
				}
				if (id == thisId) {
					preItem = data[id];
				}
			}
			if (preItem != null) {
				newData[preItem.id] = preItem;
			}
			data = $.extend(true, {}, newData);
			newData = null;
			
			calcData(data, thisItem.assignedName);
			bindData(data);
			addPanels(data);
		});

		/**
		 * 予定期間変更イベント
		 */
		$(document).on('change', '[name^="startDate"], [name^="dueDate"]', function() {
			var names = this.name.split(/\[|\]/g);
			var columnName = names[0];
			var id = names[1];
			var item = data[id];
			item[columnName] = this.value;
			fillPlan(item);
		});

		/**
		 * 実績日数変更イベント（入力値をデータに反映するだけ）
		 */
		$(document).on('change', '[name^="days"], [name^="suspends"]', function() {
			var names = this.name.split(/\[|\]/g);
			var columnName = names[0];
			var thisId = names[1];
			var thisItem = data[thisId];
			thisItem[columnName] = this.value;
			redrawData(data);
		});

		/**
		 * 再描画ボタン押下
		 */
		$('[name="redraw"]').on('click', function() {
			redrawData(data);
		});
	});
	
	function setDays(data) {

		$('table.right thead tr').html('');
		$('table.right tbody tr').html('');
		$('table.right tfoot tr').html('');

		var baseYmd = Dates.parseYyyyHmmHdd($('[name="baseYmd"]').val());
		var baseY = baseYmd.getFullYear();
		var baseM = baseYmd.getMonth();
		var baseD = baseYmd.getDate();
		var baseYm = baseY * 100 + baseM;

		var theadTds = '';
		var tbodyTds = '';
		var tfootTds = '';
		for (var i = 0; true; i++) {

			//日付の取得
			var date = new Date(baseY, baseM, baseD + i);

			//指定月数分で終了
			var ym = date.getFullYear() * 100 + date.getMonth();
			if (ym - baseYm >= months && baseD < date.getDate()) {
				break;
			}

			//休日の背景色
			var classHoliday = '';
			var day = date.getDay();
			if (day == 0 || day == 6) {
				classHoliday = ' class=\'holiday\'';
			}

			//セル文字列に退避
			var yySmmSdd = Dates.formatYyHmmHdd(date);
			theadTds += '<td' + classHoliday + '>' + yySmmSdd + '</td>';
			tbodyTds += '<td id="' + yySmmSdd + '[#]"' + classHoliday + '>&nbsp;</td>';
			tfootTds += '<td' + classHoliday + '>&nbsp;</td>';
		}

		//退避したセル文字列を追加
		$('table.right thead tr').append(theadTds);
		$('table.right tbody tr').append(tbodyTds);
		$('table.right tfoot tr').append(tfootTds);
	}
	
	function fillPlan(item) {
		if (!item.startDate || !item.dueDate) {
			return;
		}
		var startDate = Dates.parseYyyyHmmHdd(item.startDate);
		var dueDate = Dates.parseYyyyHmmHdd(item.dueDate);
		for (var date = startDate; date <= dueDate; date.setDate(date.getDate() + 1)) {
			var cell = $('table.right tbody [id="' + Dates.formatYyHmmHdd(date) + '[' + item.id + ']"]');
			if (!cell.hasClass('holiday')) {
				cell.addClass('plan');
			}
		}
	}

	function bindData(data) {

		//明細部のスクロール高さ
		var offsetHeight = $('body')[0].clientHeight;
		var offsetTop = $('table.left')[0].offsetTop;
		var theadHeight = $('table.left thead')[0].offsetHeight;
		var tfootHeight = $('table.left tfoot')[0].offsetHeight;
		var tbodyScrollHeight = offsetHeight - offsetTop - theadHeight - tfootHeight - 25;
		
		//明細部のスクロール量
		var leftScrollTop = $('table.left tbody').scrollTop();
		
		//明細部の行高さ
		var trHeight = $('table.left tbody tr:nth-child(1)').height();
		
		/*
		 * 明細部のクリア
		 */
		
		//左側表をリセット
		var $leftTbody = $('table.left tbody');
		var leftTbodyHtml = $leftTbody.find('tr:nth-child(1)')[0].outerHTML;
		$leftTbody.html(leftTbodyHtml);

		//右側表をリセット
		var $rightTbody = $('table.right tbody');
		var rightTbodyHtml = $rightTbody.find('tr:nth-child(1)')[0].outerHTML;
		$rightTbody.html(rightTbodyHtml);

		//明細部の高さを一旦リセット
		$leftTbody.css('height', '');
		$('div.rightWrapper').css('height', '');
		
		/*
		 *
		 */

		//データ全件でループして左側表全件文字列と右側表全件文字列を作成
		var trsHeight = 0;
		var leftTrs = '';
		var rightTrs = '';
		for (var r in data) {
			
			var leftTr = '';
			var rightTr = '';
			
			trsHeight += trHeight;
			
			if (trsHeight < leftScrollTop) {
				//上側非表示部
				leftTr = '<tr><td></td></tr>';
				rightTr = '<tr><td></td></tr>';
			} else if (tbodyScrollHeight <= trsHeight - trHeight - leftScrollTop) {
				//下側非表示部
				leftTr = '<tr><td></td></tr>';
				rightTr = '<tr><td></td></tr>';
			} else {
				
				var item = data[r];
	
				//左側表文字列に追加
				var leftTr = leftTbodyHtml.replaceAll('#', item.id);
				for (var k in item) {
					leftTr = leftTr.replaceAll('\[\[' + k + '\]\]', item[k]);
				}
				leftTr = leftTr.replaceAll(/\[\[.+?\]\]/g, '');
	
				//右側表文字列に追加
				var rightTr = rightTbodyHtml.replaceAll('#', item.id);
			}
			
			leftTrs += leftTr;
			rightTrs += rightTr;
		}
			
		$leftTbody.append(leftTrs);
		$rightTbody.append(rightTrs);

		$leftTbody.css('height', tbodyScrollHeight);
		$leftTbody.scrollTop(leftScrollTop);
		$('div.rightWrapper').css('height', offsetHeight - offsetTop - 8);
		$('div.rightWrapper').scrollTop(leftScrollTop);
		
		$('.datepicker').datepicker({
            dateFormat: 'yy-mm-dd',
            dayNamesMin: ['日', '月', '火', '水', '木', '金', '土'],
            monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
            showMonthAfterYear: true,
            yearSuffix: '年',
            showOtherMonths: true,
            selectOtherMonths: true
        });

		//小数２桁表示
		$('.dec2').each(function() {
			Numbers.formatDec2(this);
		});

		//予定期間の背景色設定
		for (var id in data) {
			var item = data[id];
			if (!item.startDate || !item.dueDate) {
				continue;
			}
			fillPlan(item);
		}
	}

	/**
	 * 再描画ボタン押下
	 */
	function redrawData(data) {

		//担当者名毎に実績期間を再計算
		var assignedNames = {};
		for (var id in data) {
			var item = data[id];
			var assignedName = item.assignedName;
			if (!assignedNames[assignedName]) {
				calcData(data, assignedName);
				assignedNames[assignedName] = 1;
			}
		}

		//実績パネルを表示
		addPanels(data);
	}

	/**
	 * 指定した担当者について、実績日数から実績期間を再計算
	 */
	function calcData(data, assignedName) {

		//実績終了数
		var eoDays = 0;

		//当該ユーザのみ実績を再計算して左側表に表示
		for (var id in data) {
			var item = data[id];

			//対象ユーザの行だけ日付計算
			if (item.assignedName == assignedName) {

				//当該行のプロジェクト開始日
				var projectDate = Dates.parseYySmmSdd(item.projectDate);
				var projectY = projectDate.getFullYear();
				var projectM = projectDate.getMonth();
				var projectD = projectDate.getDate();

				//実績開始数
				item.boDays = eoDays;

				//実績開始日
				var boDate = new Date(projectY, projectM, projectD);
				if (item.boDays > 0) {
					var workDays = 0;
					while (true) {
						boDate.setDate(boDate.getDate() + 1);
						var boDay = boDate.getDay();
						if (0 < boDay && boDay < 6) {++workDays;
						}
						if (Math.floor(item.boDays) <= workDays) {
							break;
						}
					}
				}
				item.boDate = Dates.formatYyHmmHdd(boDate);

				//稼働日数
				var days = 0;
				if (item.days) {
					days = item.days * 1;
				}

				//中断日数
				var suspends = 0;
				if (item.suspends) {
					suspends = item.suspends * 1;
				}

				//実績日数
				item.manDays = days + suspends;

				//実績終了日
				var eoDate = new Date(boDate.getFullYear(), boDate.getMonth(), boDate.getDate());
				if (item.manDays > 0) {
					eoDate.setSeconds(-1);
					var workDays = 0;
					while (true) {
						eoDate.setDate(eoDate.getDate() + 1);
						var eoDay = eoDate.getDay();
						if (0 < eoDay && eoDay < 6) {++workDays;
						}
						if (Math.floor(item.manDays) <= workDays) {
							break;
						}
					}
				}
				item.eoDate = Dates.formatYyHmmHdd(eoDate);

				//実績終了数
				eoDays += item.manDays;
				item.eoDays = eoDays;

				var $leftTr = $('table.left tbody tr[id="leftTr[' + id + ']"]');
				$leftTr.find('[id="boDays[' + id + ']"]').html(item.boDays);
				$leftTr.find('[id="boDate[' + id + ']"]').html(item.boDate);
				$leftTr.find('[id="manDays[' + id + ']"]').html(item.manDays);
				$leftTr.find('[id="eoDate[' + id + ']"]').html(item.eoDate);
				$leftTr.find('[id="eoDays[' + id + ']"]').html(item.eoDays);
			}
		}

		//小数２桁表示
		$('.dec2').each(function() {
			Numbers.formatDec2(this);
		});
	}

	/**
	 * データの実績開始日・実績終了日から、パネルを描画
	 */
	function addPanels(data) {

		//実績を一旦全削除
		$('.panelWrapper').remove();

		//ヘッダ行高さ
		var theadHeight = $('table.right thead')[0].offsetHeight;

		//明細エリア
		var $rightTbody = $('table.right tbody');

		//描画基準日
		var baseYmd = Dates.parseYyyyHmmHdd($('[name="baseYmd"]').val());

		//データでループ
		var panelWrappers = '';
		for (var r in data) {
			var item = data[r];

			//実績開始日が未確定ならスキップ
			if (!item.boDate) {
				continue;
			}

			//実績終了日が基準日より過去ならスキップ
			if (Dates.parseYySmmSdd(item.eoDate) < baseYmd) {
				continue;
			}

			var boDate = item.boDate;
			if (Dates.parseYySmmSdd(boDate) < baseYmd) {
				boDate = Dates.formatYyHmmHdd(baseYmd);
			}

			//チケットID
			var id = item.id;

			//実績開始日セルから、パネルの上座標・左座標を取得
			var $boDateCell = $rightTbody.find('[id="' + boDate + '[' + id + ']"]');
			if ($boDateCell.length == 0) {
				continue;
			}
			var l = $boDateCell[0].offsetLeft - 1;
			var t = $boDateCell[0].offsetTop - theadHeight;

			//実績終了日セルから、パネルの高さ・幅を取得
			var $eoDateCell = $rightTbody.find('[id="' + item.eoDate + '[' + id + ']"]');
			var h = $eoDateCell[0].offsetHeight - 1;
			var w = $eoDateCell[0].offsetLeft + $eoDateCell[0].offsetWidth - l - 2;

			//パネル文字列に追加
			var panel = '<div id="panel_' + id + '" class="panel" style="height: ' + h + 'px; width: ' + w + 'px;"></div>';
			var panelWrapper = '<div id="panel_' + id + '" class="panelWrapper" style="left: ' + l + 'px; top: ' + t + 'px;">' + panel + '</div>';
			panelWrappers += panelWrapper;
		}

		$rightTbody.find('tr:nth-child(1)').after(panelWrappers);
	}

</script>

<h2>ProgressManage</h2>
<form>
	<label>基準日 <input type="date" name="baseYmd" />
	</label>
	<div class="submits">
		<button type="button" name="redraw">実績再描画</button>
	</div>
</form>
<table class="progress left">
	<thead>
		<tr>
			<th>順番</th>
			<th>id</th>
			<td>プロジェクト</td>
			<td>開始日</td>
			<td>バージョン</td>
			<td>題名</td>
			<td>ステータス</td>
			<td>担当者</td>
			<td>開始日</td>
			<td>期日</td>
			<td>実績<br>開始数
			</td>
			<td>実績<br>開始日
			</td>
			<td>稼働<br>日数
			</td>
			<td>中断<br>日数
			</td>
			<td>実績<br>日数
			</td>
			<td>実績<br>終了日
			</td>
			<td>実績<br>終了数
			</td>
		</tr>
	</thead>
	<tbody>
		<tr id="leftTr[#]">
			<th><a href="javascript:void(0);" id="upper[#]">↑</a><a href="javascript:void(0);" id="downer[#]">↓</a></th>
			<th title="[[id]]">[[id]]</th>
			<td title="[[projectName]]">[[projectName]]</td>
			<td title="[[projectDate]]">[[projectDate]]</td>
			<td title="[[version]]">[[version]]</td>
			<td title="[[subject]]">[[subject]]</td>
			<td title="[[statusId]]">[[statusId]]</td>
			<td title="[[assignedName]]">[[assignedName]]</td>
			<td><input type="date" name="startDate[#]" value="[[startDate]]" /></td>
			<td><input type="date" name="dueDate[#]" value="[[dueDate]]" /></td>
			<td id="boDays[#]" title="[[boDays]]" class="dec2">[[boDays]]</td>
			<td id="boDate[#]" title="[[boDate]]">[[boDate]]</td>
			<td><input type="text" name="days[#]" value="[[days]]" /></td>
			<td><input type="text" name="suspends[#]" value="[[suspends]]" /></td>
			<td id="manDays[#]" title="[[manDays]]" class="dec2">[[manDays]]</td>
			<td id="eoDate[#]" title="[[eoDate]]">[[eoDate]]</td>
			<td id="eoDays[#]" title="[[eoDays]]" class="dec2">[[eoDays]]</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tfoot>
</table>
<div class="rightWrapper">
	<table class="progress right">
		<thead>
			<tr></tr>
		</thead>
		<tbody>
			<tr id="rightTr[#]"></tr>
		</tbody>
		<tfoot>
			<tr></tr>
		</tfoot>
	</table>
</div>
